.page__body
{
background: radial-gradient(184.83% 194.44% at 105.85% 4.1%, #98D3FF 46.89%, #BCEAC6 58.93%);
margin-right: 20px;
margin-left: 20px;
    }

    .header__menu-btn menu-btn
    {
        display: flex;
    }

    .page__location
    {
        text-align: center;
        background-color: white;
    }
    .page__date
    {
        text-align: center;
        background-color: white;
    }