.main {
    background: radial-gradient(184.83% 194.44% at 105.85% 4.1%, #98D3FF 46.89%, #BCEAC6 58.93%);
    

}

.main ul {
    display: contents;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    list-style: none;
    align-items: center;
    text-align: center;
}

.page__subtitles ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
   }
   .page__subtitle
   {
    text-align: center;
   }

.page__text {
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
}

.page__image--welcome
{
max-width: 100%;
}
