/**
* Lightbox
*/

dialog#lightbox {
    border-radius: 15px;
    border-color: #444;
    border-width: 10px;
    background-color: #ccc;
}

::backdrop {
    background-color: rgb(0, 153, 255);
    opacity:0;
    }

    #ligtbox::before {
        content: "X";
        position: absolute;
        top: -30 px;
        right: -30 px;
        background-color: #0F0;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        border: 10px solid #000;

    }

dialog#lightbox[open] {
    animation: entree 1s;
}

@keyframes entree {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }


    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

        

dialog#lightbox[open].sortie {
 animation: sortie 1s;
 }
 @keyframes sortie {
  0% {
 opacity: 1;
  }
        
 100% {
 opacity: 0;
 }
}
